.prod-card {
  max-width: 350px;
  height: 330px;
}

.example-header-image {

}

.prod-con {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
 
}

.prod-con > div {
  margin: 10px;
}

img {
  width: 100px;
  height: 100px;
}

.desc {
  height: 150px;
  padding-top: 30px;
}
