<mat-toolbar color="primary">

  <span> {{title}}</span>
  <span class="tb-spacer"></span>

  <button mat-icon-button *ngIf="authenticated" routerLink="cart">
    <div class="shop-cart">
      <mat-spinner *ngIf="cartLoading" diameter="25" color="warn"></mat-spinner>
      <mat-icon *ngIf="!cartLoading" [matBadge]="cartItemCnt" matBadgeColor="warn">shopping_cart</mat-icon>
    </div>
  </button>

  <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>


<mat-menu #menu="matMenu">
  <ng-container *ngIf="!authenticated">
    <button mat-menu-item (click)="login()">
      <mat-icon>login</mat-icon>
      <span>Login</span>
    </button>
  </ng-container>
  <ng-container *ngIf="authenticated">

    <button mat-menu-item>
      <mat-icon>person</mat-icon>
      <span>{{userInfo?.fname}}</span>
    </button>

    <button mat-menu-item routerLink="products">
      <mat-icon>category</mat-icon>
      <span>Products</span>
    </button>

    <button mat-menu-item routerLink="cart">
      <mat-icon>shopping_cart</mat-icon>
      <span>Cart</span>
    </button>

    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>


  </ng-container>
</mat-menu>
